<div class="media-controls-container">
    <i id="mute-button" class="fa-solid fa-volume-xmark fa-2xl media-button" onclick="toggleMute()"></i>
    <i id="play-button" class="fa-solid fa-play fa-2xl media-button" onclick="playVideo()"></i>
    <i id="pause-button" class="fa-solid fa-pause fa-2xl media-button" onclick="pauseVideo()"></i>
</div>