<%- include('./partials/header.ejs') %>

<div class="main-container">
    <div class="landingPageCard animate__animated animate__flipInY">
        <div class="main-title">
            <h1>Welcome to Juke.ly!</h1>
        </div>
        <div class="juke-ly-features">
            <p style="text-align: center;">Party Playlist</p>
            <ul>
                <li>Feature 1</li>
                <li>Feature 2</li>
                <li>Feature 3</li>
                <li>Feature 4</li>
            </ul>
        </div>
        <div class="juke-ly-logo-container">
            <img class="juke-ly-logo" src="https://i.imgur.com/nejpbZS.png" alt="Juke-ly Logo">
        </div>
        <div class="get-started-button">
            <a class="getStarted" href="/songs"><button>Get Started!</button></a>
        </div>
    </div>
</div>

<%- include('./partials/footer.ejs') %>